

/*-- all site --*/

html, body { 
    height: 100%; 
    margin: 0; 
    font-family: Roboto, sans-serif;
    position: relative;
    overflow-x: hidden;
}

/*-- navbar --*/

.body-home {
    position: absolute;
}

.nav-top {
    height: 200px;
    width: 100%;

    margin-top: 0.2%;
    z-index: 1;
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#citi-logo {
    margin-right: 3px;
    margin-left: 3px;
    width: 150px;
}

#nav-text {
    text-align: center;
    font-size: 180%;
    color: white;
    padding-top: 10px;

}

.nav-center {

    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-line {
  width: 40%;
  color: white;
}

/*-- first sesson --*/

#img-home {
    opacity: 0.6;
    border: none;
    display: block;

}

.body-home, .slider {
    position: relative;
    background-color: #8cba4e;
}



/*-- second sesson --*/

#topfeedbacks-carrosel {
    padding-left: 25%;
    padding-right: 25%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.topfeedbacks-citiano {
    
    width: 200px;
    color: black;
    -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24);
    background: white;
}

#topfeedbacks-carrosel-itens {
    height: 325px;
}

#topfeedbacks-pamella {
    margin-top: 25px;
    height: 300px;
    width: 200px;
    background-image: url("../images/Pamella.jpeg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
}

#topfeedbacks-names{
    position: absolute;
    margin-top: 0px;
}



#topfeedbacks-names {
    height: 25px;
    margin-bottom: 25px;
    padding-top: 7px;
    text-align: center;
    position: relative;

}

.topfeedbacks-line {
  size: 20%;
  color: #8cba4e;
}

#topfeedbacks-carrosel-itens {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-- third sesson --*/

.feedback {
    padding-bottom: 100px;
    background-color: #fbfdf9 ;
    
}

.sendfeedbacks-form {
    height: 500px;
    padding-left: 32%;
    padding-right: 32%;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#data-form {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#sendfeedback-titles {
    margin-top: 20px;
    font-size: 11px;
    color: #8cba4e;
}

.sendfeedback-mensage {
    width: 100%;
}

.sendfeedback-boxemail, .sendfeedback-boxname, .sendfeedback-mensage {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #8cba4e 1px;
    padding: 6px 0px 4px 0px;
}

.button {
    background-color: #FFFFFF;
    border: none;
    color: #8cba4e;
    margin-top: 0px;
    padding: 15px 46.3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #8cba4e; /* Green */
    color: white;
}

/* second and third sesson - title definitions */

.topfeedbacks-title, .sendfeedback-title {
    height: 130px;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

#topfeedbacks-text{
    width: 300px;
}

#sendfeedbacks-text{
    width: 400px;
}

#topfeedbacks-text, #sendfeedbacks-text {
    text-align: center;
    font-size: 25px;
    color: #8cba4e;
    padding-top: 10px;
}

.topfeedbacks-line, .sendfeedback-line {
    width: 900px;
}
