/*-- all site --*/

html, body { 
    height: 100%; 
    margin: 0; 
    font-family: "Arial", sans-serif;
    position: relative;
    overflow-x: hidden;
}

/*-- navbar --*/

.body-home {
    position: absolute;
}

.nav-top {
    height: 180px;
    width: 100%;

    margin-top: 20px;
    z-index: 1;
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#citi-logo {
    margin-right: 3px;
    margin-left: 3px;
    width: 20%;
}

#nav-text {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 10px;

}

.nav-center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-line {
    width: 40%;
    color: white;
}


/*-- first sesson --*/

#img-home {
    opacity: 0.6;
    border: none;
    display: block;

}

.body-home, .slider {
    position: relative;
    background-color: #8cba4e;
}



/*-- second sesson --*/

#carrosel {
    padding-left: 500px;
    padding-right: 500px;

    background:gray;
    height: 500px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.citiano {
    height: 300px;
    width: 200px;
    color: black;
    -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24);
    background: white;
    margin: 5px;
}

/*-- third sesson --*/
#form {
    height: 500px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    background-color: #FFFFFF;
    border: none;
    color: #8cba4e;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #8cba4e; /* Green */
    color: white;
}

/* second and third sesson - title definitions */

.topfeedbacks-title, .sendfeedback-title {
    height: 180px;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#topfeedbacks-text, #sendfeedbacks-text {
    text-align: center;
    font-size: 25px;
    color: #8cba4e;
    padding-top: 10px;
}

.topfeedbacks-line, .sendfeedback-line {
    width: 900px;
}
